.navbar {
    background-color: #33FFDC;
}

.margin {
    background-color: #33B0FF;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #34495E;
    font-family: verdana;
}

.parceiros {
    background-color: #33FFDC;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #34495E;
    font-family: verdana;
}

